{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>
    <section>
        <div class="icon"><img src="{% static 'home/school.png' %}" alt="">
            <div class="cont">
                <h5>STEP 1 OF 3</h5>
                <h1>LET'S GET STARTED</h1>
            </div>
        </div>
        <br class="text-center">
            <div class="text-center">
                <br></br>
            <h3>What you are and what you want to register</h3>
            <br></br>
            </div>

            <div class="reg">
                <br>
                <!--<button type="button" class="btn btn-primary btn-lg" href="/register1"> Alumni </button>
                <button type="button" class="btn btn-primary btn-lg" href="/register2"> Student </button>-->
                    <div class="text-center" >
                        <a class="btn  btn-secondary btn-lg " href="/register1/" role="button">Alumini</a>
                        <a class="btn  btn-secondary btn-lg" href="/register2/" role="button">Student</a>
                    </div>


                </br>
            </div>
    </section>
</body>

{% endblock %}